[Unit]
Description=The plugsched service
ConditionKernelCommandLine=!plugsched.enable=0

[Service]
Type=oneshot
ExecStart=/usr/local/bin/scheduler-install install

[Install]
WantedBy=multi-user.target
